.split-footer {
  width: 100%;
  padding: 70px 45px;
  min-height: 660px;

  text-align: center;

  background: linear-gradient(123.75deg, #AC14AE 0%, #334EDC 0.01%, #C850C0 62.14%, #F3C166 100%), linear-gradient(123.75deg, #AC14AE 0%, #2660D2 50.7%, #00DBDE 100%);

  &__title {
    margin: 0;
    margin-bottom: 9px;

    font-weight: 300;
    font-size: 48px;
    line-height: 56px;
    color: #ffffff;
  }

  &__slogan {
    margin: 0;
    margin-bottom: 40px;

    font-weight: 300;
    font-size: 32px;
    line-height: 40px;
    color: #ffffff;
  }

  &__buy-link {
    width: 180px;
    margin: 0 auto 60px;
  }

  &__img {
    width: 565px;
  }
}

@media (max-width: 767px) {
  .split-footer {
    padding: 60px 5%;
    min-height: auto;

    &__title {
      margin-bottom: 15px;
    }

    &__slogan {
      font-size: 24px;
      line-height: 28px;
    }

    &__img {
      width: 82%;
    }
  }
}
